In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from Config import g_key

In [34]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ngunguru,NZ,2021-10-06 03:25:22,-35.6167,174.5000,67.15,81,100,11.45
1,1,Alofi,NU,2021-10-06 03:25:22,-19.0595,-169.9187,80.49,69,40,9.22
2,2,Butaritari,KI,2021-10-06 03:25:22,3.0707,172.7902,82.36,68,10,12.57
3,3,Atuona,PF,2021-10-06 03:25:22,-9.8000,-139.0333,78.53,75,12,20.51
4,4,Carnarvon,AU,2021-10-06 03:25:23,-24.8667,113.6333,71.67,43,5,24.16

In [35]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent Cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Wind Speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Alofi,NU,2021-10-06 03:25:22,-19.0595,-169.9187,80.49,69,40,9.22
2,2,Butaritari,KI,2021-10-06 03:25:22,3.0707,172.7902,82.36,68,10,12.57
3,3,Atuona,PF,2021-10-06 03:25:22,-9.8000,-139.0333,78.53,75,12,20.51
5,5,Itarema,BR,2021-10-06 03:25:24,-2.9248,-39.9167,78.73,82,85,15.95
17,17,Laguna,US,2021-10-06 03:20:33,38.4210,-121.4238,75.70,58,1,4.00
18,18,Vaini,TO,2021-10-06 03:25:27,-21.2000,-175.2000,78.96,89,75,9.22
22,22,Mayor Pablo Lagerenza,PY,2021-10-06 03:25:28,-19.9309,-60.7718,75.20,53,17,5.01
23,23,Kapaa,US,2021-10-06 03:25:28,22.0752,-159.3190,82.38,72,40,3.00
28,28,Hithadhoo,MV,2021-10-06 03:25:29,-0.6000,73.0833,82.96,76,81,14.12
29,29,Faanui,PF,2021-10-06 03:25:30,-16.4833,-151.7500,79.00,67,0,13.29

In [17]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1                   Alofi      NU     80.49 -19.0595 -169.9187
2              Butaritari      KI     82.36   3.0707  172.7902
3                  Atuona      PF     78.53  -9.8000 -139.0333
5                 Itarema      BR     78.73  -2.9248  -39.9167
17                 Laguna      US     75.70  38.4210 -121.4238
18                  Vaini      TO     78.96 -21.2000 -175.2000
22  Mayor Pablo Lagerenza      PY     75.20 -19.9309  -60.7718
23                  Kapaa      US     82.38  22.0752 -159.3190
28              Hithadhoo      MV     82.96  -0.6000   73.0833
29                 Faanui      PF     79.00 -16.4833 -151.7500

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Alofi,NU,80.49,-19.0595,-169.9187,Taloa Heights
2,Butaritari,KI,82.36,3.0707,172.7902,Isles Sunset Lodge
3,Atuona,PF,78.53,-9.8000,-139.0333,Villa Enata
5,Itarema,BR,78.73,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
17,Laguna,US,75.70,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
18,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
22,Mayor Pablo Lagerenza,PY,75.20,-19.9309,-60.7718,
23,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Hithadhoo,MV,82.96,-0.6000,73.0833,Scoop Guest House
29,Faanui,PF,79.00,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))