## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bethel,US,70.48,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,1,Rajanpur,PK,89.33,clear sky,29.1035,70.3250,Style Inn Shoes Rajanpur
2,2,Korla,CN,58.42,overcast clouds,41.7597,86.1469,Gulisitan Hotel
3,3,Jamestown,US,78.03,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,4,Bluff,NZ,50.81,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [38]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Nakamura']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Nakamura']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Abu Dhabi']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Harper'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Coihaique'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
199,304,Coihaique,CL,56.01,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([32.9833, 132.9333], dtype=object)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Nakamura = start
abu_dhabi = stop1
harper = stop2
coihaique = stop3 
roadtrip = gmaps.directions_layer(ukiah, ukiah, 
                                  waypoints=[abu_dhabi, harper, coihaique],
                                  travel_mode="DRIVING")

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,48,Nakamura,JP,64.72,clear sky,32.9833,132.9333,Hotel Crown Hills Nakamura
1,433,Abu Dhabi,AE,89.62,clear sky,24.4667,54.3667,Ramee Garden Hotel Apartments
2,216,Harper,LR,78.26,scattered clouds,4.3750,-7.7169,Screensaver
3,304,Coihaique,CL,56.01,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))